@import 'common.css';

.table-view .scroll-bar:vertical, .table-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-width: 0px;
}

.table-view .column-header-background {
    -fx-background-color: sienna;
    -fx-padding: 5px;
}
